@font-face {
  font-family: myFont;
  src: url(../fonts/orange.ttf);
}

#sec1 {
  height: 540px;
  width: 1280px;

  padding: 20px;
  text-align: center;
  /*background-image: url(../images/images.jpg);*/
  background-image: url(../images/ping.jpg);
  background-size: cover;
  color: gold;
}

.head1 {
  font-family: fantasy;
  font-size: 200px;
}

.head2 {
  font-size: 500%;
}

.boi {
  font-family: myFont;
  font-size: 30px;
}
